{% extends 'base.html' %}
{% block title %} Customers {% endblock %}
{% block content %}

<a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a></p>

<h1>Customers</h1>

<ul style="column-count: 4">
  {% for i in range(customers|length) %}
  <li><a href="/{{ customers[i].id }}/">{{ customers[i].fullName }}</a>
    {% if reservations[i].id != None %}
    <ul>
      <li>{{reservations[i].getformattedStartAt()}}</li>
      <li><b>{{reservations[i].numGuests}} guests</b></li>
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock %}